<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/aboutus.css">
</head>
<body>
    <div class="container">
        <h1>About Us</h1>

        <h3>Our Mission</h3>
        <p>Our mission is to raise awareness, break down stigma, and provide accessible mental health support to every individual across communities. We aim to build a future where mental health is universally recognized as essential to living a fulfilling life, and where support is available and accessible to all.</p>

        
        <h3>What We Do ?</h3>
        <p>We provide a range of services including counseling, educational programs, workshops, and community support initiatives. Our organization partners with mental health professionals, educators, and community leaders to ensure that mental health support is both effective and compassionate. We also advocate for policy changes to improve access to mental health care and work towards reducing disparities in mental health resources across different regions.</p>

        
        <h3>Why choose us </h3>
        <p>
            Many people are struggling with mental health issues, especially now.
            It can be hard to find help. An online platform makes it easier.
            People need to know more about mental health. We can share useful information.
            The platform can help people connect and support one another, so they don’t feel alone.
            </p>

    </div>
    <center>
<h4>&copy All rights reserved by mindconnect</h4>
</center>
</body>
</html>