<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health</title>
    <link rel="stylesheet" href="/css/mental.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<h1>Understanding <span>Mental Health</span></h1>
<center>
<div class="container">
    <h3>It's 2025, Why Is It Still Hard to Talk About <span style="color: blueviolet;">Mental Health</span>?</h3>
</div>
<p class="lets">Let's understand the Stages of Mental Health</p>


<div class="card-container">
    <div class="card">
      <div class="image"><img src="images/stage1.png" alt="image not found"></div>
      <div class="content">
        
          <span class="title">1. Optimal Mental Health(Flourishing)</span>
        
        <p class="desc">
            The person feels resilient, motivated, and fulfilled. They are able to manage stress well, form meaningful relationships, and have a strong sense of purpose.
        </p>
        
      </div>
    </div>
    
    <div class="card">
      <div class="image"><img src="images/stage2.png" alt="image not found"></div>
      <div class="content">
        
          <span class="title">2. Good Mental Health (Stable)
        </span>
        
        <p class="desc">
            The individual feels generally well and capable, although they might experience occasional stress or setbacks that they manage effectively.
        </p>
        
      </div>
    </div>
    
    <div class="card">
      <div class="image"><img src="images/stage3.png" alt=""></div>
      <div class="content">
        
          <span class="title">3. Mild Mental Health Concerns (Struggling)
        </span>
        
        <p class="desc">
            The person experiences occassional or mild mental health symptoms like stress, sadness, or anxiety that impact daily life but are manageable.

        </p>
        
      </div>
    </div>
    
    <div class="card">
      <div class="image"><img src="images/stage4.png" alt=""></div>
      <div class="content">
        
          <span class="title">4. Moderate Mental Health Issues (Coping)
</span>
        
        <p class="desc">
            The person is dealing with more pronounced symptoms of mental health conditions (e.g., anxiety, depression) that impact daily functioning
        </p>
        
      </div>
    </div>
    
    <div class="card">
      <div class="image"><img src="images/stage6.png" alt=""></div>
      <div class="content">
        
          <span class="title">5. Severe Mental Health Issues (Crisis)
        </span>
        
        <p class="desc">
            The individual experiences severe, ongoing mental health symptoms that greatly interfere with daily life and can feel overwhelming or debilitating.

        </p>
        
      </div>
    </div>
    
    
    </div>
  </div>
 
  <h3 class="rights">&copy all rights reserved by mindconnect</h3>
</center>


</body>
</html>