<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Confirmation</title>
<style>
body{
background: linear-gradient(to left, violet,rgb(79, 79, 244));
}
p{
    width: 100%;
    text-align: center;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(to left, violet, white, rgb(79, 79, 244));
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
</style>
</head>
<body>
<div id="confirmation-message">
 <p>Your meeting has been successfully scheduled! You will receive a confirmation email shortly.</p>
 <p>Thank You! </p>
</div>
</body>
</html>